@import url(https://fonts.googleapis.com/css?family=Pacifico);
h1 {
  font-family: Roboto, sans-serif;
  text-align: center;
  vertical-align: middle;
}

.absolute, .banner .slogan, .banner .slogan span {
  position: absolute;
}

.banner {
  font-family: 'Pacifico', cursive;
  height: 400px;
  background-image: url("https://s3.amazonaws.com/codecademy-content/courses/Sass/lemonade2.png");
  border-top: 4px solid black;
  border-bottom: 4px solid black;
}

.banner .slogan {
  background-color: rgba(255, 255, 255, 0.3);
  border: 4px solid black;
  top: 200px;
  left: 25%;
  line-height: 200px;
  width: 50%;
  height: 200px;
}

.banner .slogan span {
  text-align: center;
  vertical-align: middle;
  width: 40%;
  left: 30%;
}

.container {
  font-family: 'Pacifico', cursive;
}

.container .icon {
  display: inline-block;
  margin: 2%;
  border: 4px solid black;
  width: 300px;
  height: 300px;
}
