.notecard {
  width: 300px;
  height: 180px;
  border: 1px solid black;
  display: inline-block;
  margin: 20px;
  font-family: Roboto, sans-serif;
  box-shadow: 1px 1px 2px 2px rgba(0, 0, 0, 0.2);
}

.notecard:hover {
  transform: rotatey(-180deg);
  -webkit-transform: rotatey(-180deg);
  -moz-transform: rotatey(-180deg);
  -ms-transform: rotatey(-180deg);
  -o-transform: rotatey(-180deg);
}

.notecard .front, .notecard .back {
  width: 100%;
  height: 100%;
  position: absolute;
}

.notecard .front {
  z-index: 3;
  font-size: 20px;
}

.notecard .front .word {
  display: block;
  text-align: center;
  position: relative;
  top: 40%;
}

.notecard .back {
  z-index: 1;
  word-wrap: break-word;
  line-height: 1.6;
}

.notecard .back .definition {
  width: 100%;
  height: 100%;
}

.notecard .back .definition .photo {
  width: 60%;
  margin: 0px auto;
}
